.work-inner {
	// background-color: #007BFF;
	.work-item {
		padding: 40px 0;
		height: 420px;
		.img1 {
			height: 115px;
		}
		.img2 {
			height: 115px;
			padding-left: 5px;
			padding-right: 5px;
		}
		a {
			word-wrap: break-word;
		}
		p {
			height: 80px;
			padding: 0 20px;
		}
		.more_btn {
			background-color: #007BFF;
			color: white;
			display: inline-block;
			height: 50px;
			line-height: 50px;
			padding-left: 30px;
			padding-right: 30px;
			border-radius: 25px;
			margin-top: 20px;
		}
		&:hover {
			box-shadow: $box-shadow;
			border-radius: 5px;
		}
		@include media-breakpoint-down(sm) {
			height: 390px;
			img {
				height: 80px;
			}
		}
	}
}

#skill{

}

$content-width: 500px;
#experience {
	.timeline li {
		position: relative;
		// left: 50%;
		margin: 0 auto;
	  background-color: #f9f9ff;
		width: 4px;
		padding-bottom: 20px;
		&:before{
		    content: '';
		    position: absolute;
		    top: 40%;
		    left: -10px;
		    background-color: $primary;
		    border: 5px solid #eee;
		    width: 20px;
		    height: 20px;
		    border-radius: 50%;
		    -webkit-border-radius: 50%;
		    -moz-border-radius: 50%;
		}
		.content{
			position: relative;
			top: 2px;
			box-shadow: $box-shadow;
			padding: 5px 20px;
			width: $content-width;
			.content-title {
				margin-bottom: 15px;
				margin-top: 15px;
				color: $primary;
			}
		}
		&:nth-child(odd) .content{
			left: 40px;
		}
		&:nth-child(even) .content{
			left: calc(-#{$content-width} - 40px);
		}
	}
	@media screen and (max-width: 1170px) {
	  .timeline li .content {
	    width: 41vw;
	  }
	  .timeline li:nth-child(even) .content {
	    left: calc(-41vw - 40px);
	  }
	}
    @media screen and(max-width: 700px) {
 		.timeline li {
		  margin-left: 20px;
 			.content{
 				width: calc(100vw - 100px);
 			}
 			&:nth-child(even) .content{
 				left: 40px;
 			}
 	    }
    }
}


#about{
	.badge{
		padding: 10px 24px;
	}
	.progress, .progress-bar {
		height: 10px;
		border-radius: 5px;
	}
	.title-item{
		color: $gray-600;
		text-align: right;
		margin-bottom: 6px;
		margin-top: 12px;
	}
}

#contact {
	i {
	  color: $primary;
		font-size: 22px;
		margin-right: 20px;
	}
	.contact-item {
		// margin-bottom: 4px;
		p{
			font-size: 18px;
		}
	}
	.contact-pics {
		li {
			width: calc(100% / 3);
			float: left;
			padding: 2px;
			img{
				width: 100%;
			}
		}
	}
	.skill-img{
		img{
			height: 250px;
		}
	}
}

.footer-section {
	color: white;
	background-color: #04091e;
}
