#mainNav {
	background-color: $white;
	box-shadow: $box-shadow;
	transition: background-color 0.2s ease;
	.navbar-brand{
		color: $gray-900;
	}
	.navbar-nav{
		.nav-link {
			color: $gray-900;
			font-weight: 600;
			&:hover,
			&:active {
			  color: $primary;
			}
			&.active {
			  color: $primary !important;
			}
		}
	}
	@include media-breakpoint-up(lg) { 
		background-color: transparent;
		box-shadow: none;
		.navbar-brand{
			color: $white;
		}
		.navbar-nav {
		    .nav-link {
		      color:  $white;
		      &:hover {
		        color: $white;
		      }
		    }
		}
		&.navbar-scrolled{
			box-shadow: $box-shadow;
			background-color: $white;
			.navbar-brand{
				color: $gray-900;
			}
			.navbar-nav{
				.nav-link {
					color: $gray-900;
				}
			}
		}
		
	}
}

header.masthead{
	background: url('../img/card-2.jpg');
	@include media-breakpoint-up(lg) {
	  height: 100vh;
	  padding-top: $navbar-height;
	}
}